* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Philosopher", sans-serif;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: #28354f;
    padding: 25px;
}

.logo {
    font-size: 24px;
    color:#ffffff;
}

.navegacao ul {
    list-style: none;
    display: flex;
    color: #ffffff;
}

.navegacao ul li{
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.navegacao ul li a {
    color:#ffffff;
    text-decoration: none;
}

#sobre {
    text-align: center;
    background-color:whitesmoke;
    padding: 60px 20px;
}

.sobre-imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre-nome {
    color: #52443c;
    font-size: 36px;
    margin-top: 20px;
}

.sobre-titulo {
    color: #28354f;
    font-size: 24px;
    margin-top: 10px;
}

.sobre-descricao {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

#formacao {
    padding: 50px 150px;
}

.formacao-titulo {
    color: #52443c;
    font-size: 30px;
    margin-bottom: 30px;
}

.formacao-lista {
    width: 600px;
    margin: 0 auto;
}

.formacao-lista h3 {
    font-size: 20px;
    color: #28354f;
    margin-bottom: 10px;
    width: 120px;
}

.formacao-lista a {
    color:darkgray;
    font-size: 20px;
    margin-bottom: 15px;
}

.formacao-lista p {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

#experiencias {
    padding: 50px 150px;
    background-color:whitesmoke;
}

.experiencias-titulo {
    color: #52443c;
    font-size: 30px;
    margin-bottom: 30px;
}

.experiencias-lista {
    width: 600px;
    margin: 0 auto;
}

.experiencias-lista h3 {
    font-size: 20px;
    color: #28354f;
    margin-bottom: 10px;
    width: 120px;
}

.experiencias-lista a {
    color:darkgray;
    font-size: 20px;
    margin-bottom: 15px;
}

.experiencias-lista p {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

#contato {
    padding: 50px 150px;
}

.contato-titulo {
    color:#52443c;
    font-size: 30px;
    margin-bottom: 30px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
}

.contato-grupoinput {
    display: flex;
    justify-content: space-between;
}

.contato-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.contato-input input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    margin-right: 20px;
}

.contato-input label {
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-enviar {
    background-color: #28354f;
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.rodape {
    background-color: #28354f;
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;
}

.rodape-contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rodape-contatos a {
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

.rodape-contatos img {
    vertical-align: middle;
}

.logo-minas {
    height: 80px;
}